Repository fogfish/medium, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] app, [#] cdk

evelate individual profile to api
  awsmedium/config.go
Labels: [#] cdk

evelate individual profile to api (#2)
  awsmedium/config.go
Labels: [#] cdk

remove Version from stack param
  awsmedium/stack.go
  cmd/cloud/awscdk.go
Labels: [#] app, [#] cdk

remove Version from stack param (#3)
  awsmedium/stack.go
  cmd/cloud/awscdk.go
Labels: [#] app, [#] cdk

fix importability of aws construct
  awsmedium/stack.go
  cmd/lambda/inbox/inbox.go
  internal/awslambda/inbox/inbox.go
Labels: [#] app, [#] cdk

fix importability of aws construct (#4)
  awsmedium/stack.go
  cmd/lambda/inbox/inbox.go
  internal/awslambda/inbox/inbox.go
Labels: [#] app, [#] cdk

update deps, simplify api
  README.md
  awsmedium/stack.go
  go.mod
  go.sum
  internal/awslambda/inbox/inbox.go
  internal/codec/codec.go
  internal/codec/reader.go
  internal/codec/scaler.go
  internal/codec/types.go
  internal/codec/writer.go
  media.go
Labels: [#] deps, [#] doc, [#] app, [#] cdk

update ci/cd
  .github/workflows/check-code.yml
  .github/workflows/check-test.yml
Labels: [#] ci/cd

fix deprecation warnings
  internal/codec/codec.go
  internal/codec/reader.go
  internal/codec/writer.go
Labels: [#] app

update deps, simplify api (#5)
  .github/workflows/check-code.yml
  .github/workflows/check-test.yml
  README.md
  awsmedium/stack.go
  go.mod
  go.sum
  internal/awslambda/inbox/inbox.go
  internal/codec/codec.go
  internal/codec/reader.go
  internal/codec/scaler.go
  internal/codec/types.go
  internal/codec/writer.go
  media.go
Labels: [#] ci/cd, [#] deps, [#] doc, [#] app, [#] cdk

update rules for event emission
  awsmedium/config.go
  awsmedium/stack.go
  go.mod
  go.sum
  internal/awslambda/inbox/inbox.go
  internal/codec/codec.go
  internal/codec/types.go
  profile.go
  profile_test.go
Labels: [#] deps, [#] app, [#] cdk

update CI/CD
  .github/workflows/build.yml
  .github/workflows/check-code.yml
  go.mod
Labels: [#] ci/cd, [#] deps

update swarm deps
  go.mod
  go.sum
Labels: [#] deps

update rules for event emission (#7)
  .github/workflows/build.yml
  .github/workflows/check-code.yml
  awsmedium/config.go
  awsmedium/stack.go
  go.mod
  go.sum
  internal/awslambda/inbox/inbox.go
  internal/codec/codec.go
  internal/codec/types.go
  profile.go
  profile_test.go
Labels: [#] ci/cd, [#] deps, [#] app, [#] cdk

split stack into Edge & Codec
  README.md
  awsmedium/codec.go
  awsmedium/edge.go
  cmd/cloud/awscdk.go
  go.mod
  go.sum
Labels: [#] deps, [#] doc, [#] app, [#] cdk

update license
  awsmedium/edge.go
Labels: [#] cdk

split stack into Edge & Codec (#8)
  README.md
  awsmedium/codec.go
  awsmedium/edge.go
  cmd/cloud/awscdk.go
  go.mod
  go.sum
Labels: [#] deps, [#] doc, [#] app, [#] cdk

support prefix/suffix as the trigger
  README.md
  awsmedium/codec.go
  awsmedium/config.go
  profile.go
  profile_test.go
Labels: [#] doc, [#] app, [#] cdk

update deps
  go.mod
  go.sum
Labels: [#] deps

support prefix/suffix as the trigger (#9)
  README.md
  awsmedium/codec.go
  awsmedium/config.go
  go.mod
  go.sum
  profile.go
  profile_test.go
Labels: [#] deps, [#] doc, [#] app, [#] cdk

(fix) allow definition of both suffix and prefix
  awsmedium/codec.go
  awsmedium/config.go
  internal/codec/reader.go
  profile.go
  profile_test.go
Labels: [#] app, [#] cdk

(fix) allow definition of both suffix and prefix (#10)
  awsmedium/codec.go
  awsmedium/config.go
  internal/codec/reader.go
  profile.go
  profile_test.go
Labels: [#] app, [#] cdk

update deps
  go.mod
  go.sum
  internal/awslambda/inbox/inbox.go
Labels: [#] deps, [#] app

update deps (#11)
  go.mod
  go.sum
  internal/awslambda/inbox/inbox.go
Labels: [#] deps, [#] app

update deps
  awsmedium/codec.go
  go.mod
  go.sum
  internal/awslambda/inbox/inbox.go
  internal/codec/codec.go
  internal/codec/types.go
Labels: [#] deps, [#] app, [#] cdk

update deps (#12)
  awsmedium/codec.go
  go.mod
  go.sum
  internal/awslambda/inbox/inbox.go
  internal/codec/codec.go
  internal/codec/types.go
Labels: [#] deps, [#] app, [#] cdk

Switch to LogGroups for Lambda logging
  awsmedium/codec.go
  internal/awslambda/inbox/inbox.go
  internal/codec/reader.go
Labels: [#] app, [#] cdk

remove unnesseary debug I/O
  internal/awslambda/inbox/inbox.go
Labels: [#] app

Switch to LogGroups for Lambda logging (#13)
  awsmedium/codec.go
  internal/codec/reader.go
Labels: [#] app, [#] cdk

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'
 - 'examples/**/*'

"[#] app":
 - '*.go'
 - 'cmd/*'
 - 'cmd/**/*'
 - 'internal/*'
 - 'internal/**/*'

"[#] cdk":
 - 'awsmedium/*'
 - 'awsmedium/**/*'
